body{
    background:url("https://t3.ftcdn.net/jpg/12/08/55/98/360_F_1208559834_MQiHhHhhp3bGljzRQjmi5jhE40QLGtRV.jpg") ;
    h1{color:chocolate;}
    color: rgb(209, 52, 120);
    font-family: "comic sans ms";
}
img{
    height: 550px;
    width: 880px;
    border-radius: 15%;
}